/* Start Main Rules */
body{ 
	background-color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{	
	width:1170px; 
	margin:auto;
}
.clearfix{ 
clear: both;   /*between any two floats*/
}
.float-left{
	float:left; /* floating element left */
}
p {
	line-height: 1.7;
}
/* End Main Rules */

/* Start Header */
header nav{
	background-color: rgb(27, 25, 25);
	overflow: hidden;
	position: fixed;
    width: 100%;
}
header nav h2{
	color: #FFF;
	display: inline-block;
	font-family: 'Piedra', cursive;
}
header nav h2 span{
	color: rgb(255, 204, 213);
}
header nav ul{
	list-style: none;
	padding-left: 0;
	overflow: hidden;
	float:right;
}
header nav ul li{
	float:left;
	padding: 10px;
}
header nav ul li a{
	color: #FFF;
	text-decoration: none;
}
header nav ul li a:hover{
	color: rgb(255, 204, 213);
	font-weight: bold;
}
header #slider{
	background-image: url('../images/Background.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 587px;
}
header .bg{
	background-color: rgba(133, 144, 153, 0.445);
	overflow: hidden;
	height: 587px;
}
header #slider .introduction{
	text-align: center;
	color: white; 
	margin-top: 15%;
}
header #slider .introduction h2{
	font-size: 50px;
	padding:5px 0;
	font-family: 'Piedra', cursive;
}
header #slider .introduction button{
	background: none;
	width: 240px;
	margin-top: 30px;
	font-size: 20px;
	border: 3px solid #FFF;
	border-radius: 7px;
	font-weight: bold;
	padding: 10px 0px;
	color: white; 
	cursor: pointer;
}
header #slider .introduction button:hover{
	/*box-shadow: Horizontal Shadow | Vertical Shadow | Blur | Spread | Color | Inset,Outset*/
	box-shadow: 3px 3px 8px rgb(255 204 213), -3px -3px 8px rgb(255 204 213);
}
/* End Header */


/* Start Features */
.featues{
	overflow: hidden;
    margin: 10px;
    padding: 2% 0% 2% 0%;
}
.featues .feat{
    width: 30%;
    padding-right: 3%;
}
.featues .feat ul{
	padding-left: 20px;
}
.featues .feat ul li{
	line-height: 1.9;
}
/* End Features */

/* Start About Me */
#aboutMe{
	background-color: rgb(245 245 245 / 45%);
	overflow: hidden;
}
#aboutMe .image{
	width: 35%;
	height: 600px;
}
#aboutMe .image img{
	width: 100%;
	height: 667px;
}
#aboutMe .info{
	width: 65%;
}
#aboutMe .info h2{
	margin: 25px 0 20px 40px;
}
#aboutMe .info > p{
	margin: 0 0 10px 40px;
}
#aboutMe .info p:last-of-type{
	margin-top:10px;
}
#aboutMe .info .hobbies{
	overflow: hidden;
	margin: 15px 0 0px 40px;
}
#aboutMe .info .hobbies h2{
	margin: 25px 0 20px 0px;
}
#aboutMe .info .hobbies .content{ 
	width: 40%;
	overflow: hidden;
	margin-right: 10%;
}
#aboutMe .info .hobbies .content .icon{
	width: 8%;
	margin-right: 5%
}
#aboutMe .info .hobbies .content .icon img{
	max-width: 100%;
	margin: 20px 10px 0 0;
}
#aboutMe .info .hobbies .content .text{
	width: 87%;
}
#aboutMe .info .hobbies .content .text p{
	margin-top: 0;
}
#aboutMe .info .hobbies .content .text h3{
	margin-bottom: 5px;
}
/* End About Me */


/* Start My Skills*/
.mySkills{
	padding: 30px 0 50px 0;
	overflow: hidden;
}
.mySkills h2{
	text-align: center;
}
.mySkills .TechnicalSkills,
.mySkills .SoftSkills{
	width: 40%;
}
.mySkills .SoftSkills{
	margin-left: 20%;
}
.mySkills .TechnicalSkills h3{
	margin-bottom: 10%;
	border-bottom: 2px solid black;
	width: 130px;
}
.mySkills .SoftSkills h3{
	margin-bottom: 10%;
	border-bottom: 2px solid black;
	width: 88px;
}
.mySkills .TechnicalSkills .technique div,
.mySkills .SoftSkills .technique div{
	background-color: #F2F2F2;
	height: 20px;
}
.mySkills .TechnicalSkills .technique div span,
.mySkills .SoftSkills .technique div span{
	background-color: #F08F65;
	height: 20px;
	display: block;
	text-align: right;
	line-height: 20px;
	color: white;
	font-weight: bold;
}
/* End My Skills */

/* Start Resume*/

.resume{
	background-color: #f9efe3;
	padding: 50px 0 70px 0;
	text-align: center;
}

.resume p{
	color:black;
	padding: 0 40px;
}
.resume button{
	background: none;
	border:2px solid black;
	padding: 10px 30px;
	color: black;
	font-weight: bold;
	margin-top: 25px;
}
.resume button:hover{
	color: #F08F65;
	border: 2px solid #F08F65;
}
/* End Resume */

/* Start My Education*/
.MyEducation{
	padding: 30px 0 50px 0;
	overflow: hidden;
}
.MyEducation hr{
	margin: 20px 0;
	height: 1px;
	border: 0;
	background-color: black;
}
.MyEducation .main{
	width: 50%;
	margin-right: 5%;
}
.MyEducation .main h2{
	margin: 25px 0 20px 40px;
}
.MyEducation .main p{
	margin: 0 0 10px 40px;
}
.MyEducation .main p:last-of-type{
	margin-top: 25px;
}
.MyEducation .MyExperience{
	width: 45%;
}
.MyEducation .MyExperience h3{
	margin: 80px 0 10px 0;
}
.MyEducation .MyExperience span{
	display: block;
	margin: 0 0 8px 0;
}
.MyEducation .MyExperience span:first-of-type{
	color: #F08F65;
}
.MyEducation .MyExperience span:last-of-type{
	background-color: #F9EFE3;
	display: inline-block;
	padding: 4px 10px;
}	
/* End My Education */
 
/* Start testemonials */
.testemonials{
	background-color:#f9efe3;
	padding: 50px 0 50px 0;
	text-align: center;
}
.testemonials q{
	line-height: 1.8;
	font-style: italic;
	font-size: 17px;
}
.testemonials h3{
	margin-bottom: 30px;
}
.testemonials ul{
	list-style: none;
	padding-left: 0;
	text-align: center;
}
.testemonials ul li{
	width: 15px;
	height: 15px;
	border: 2px solid #F08F65;
	display: inline-block;
	cursor: pointer;
}
.testemonials ul li.active,
.testemonials ul li:hover{
	background-color: #F08F65;
}
/* End testemonials */

/* Start portfolio */
.portfolio{
	padding: 50px 0 70px 0;
	text-align: center;
}
.portfolio h2{

}
.portfolio p{
	margin-bottom: 30px;
}
.portfolio .myWork{
	overflow: hidden;
}
.portfolio .myWork > div{
	float: left;
	width: 33.333333%;
	margin-bottom: 10px;
}
.portfolio .myWork > div img{
	width: 92%;
	margin: 10px;
	padding: 3px;
	background-color: white;
	border: 1px solid #CCC;
}
/* End portfolio */

/* Start Contact Me */
.ContactMe{
	background-image: url('../images/Contact-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
}
.ContactMe .bg{
	background-color: rgba(133, 144, 153, 0.445);
	overflow: hidden;
	padding: 20px;
}
.ContactMe .field1{
	float: left;
	width: 50%;
}
.ContactMe .field2{
	float: left;
	width: 50%;
}
.ContactMe .form input[type=text]{
	display: block;
    color: black;
    padding: 10px;
    border: 0;
    margin-bottom: 10px;
    width: 90%;
	height: 50px;
	border-radius: 10px;
}
.ContactMe .form textarea{
	display: block;
    color: black;
    padding: 10px;
    border: 0;
    margin-bottom: 10px;
    height: 132px;
	width: 90%;
	border-radius: 10px;
}
.ContactMe .form input[type=submit]{
	display: block;
    color: rgb(255, 204, 213);
    font-weight: bold;
    font-family: cursive;
    font-size: 30px;
    padding: 10px 20px;
    border: 0;
    margin-top: 10px;
    width: 94%;
    height: 69px;
    border-radius: 10px;
    background-color: #1B1919;
} 
/* End Contact Me */

/* Start Footer */
.footer{
	background-color: rgb(27, 25, 25);
	color: #FFF;
	padding: 20px 0;
	text-align: center;
}
.footer ul{ 
	list-style: none;
	padding-left: 0;
	margin: 10px 0 0 0 ;
}
.footer ul li{ 
	display: inline-block;
}
.footer ul li img{ 
	width: 25px;
	height: 25px;
	padding-right: 2px;
}
/* End Footer */

